body, html {
    height: 100%;
    margin: 0%;
    padding: 0%;
}

.logo {
    font-family: 'Dancing Script', cursive;
}

.mont {
    font-family: 'Montserrat', sans-serif;
}

.root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items:stretch;
    align-content:stretch;
}

.content {
    flex-grow:1;
    display: flex;
    background-color: #e2e2e2;
}

.base {
    flex-grow: 39;
    display: block;
    background-color: #111112;
}

.side {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 4%;
    flex-direction: column;
    background-color: #191919;
}

.h {
    height: 100%;
}

.base-item {
    height: 100%;
    display: flex;
}

.set {
    height: 100%;
    text-align: center;
}

.image {
  height: 100%;
}

.req {
  /* background-image: url("m.jpg"); */
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .image {
  background-image: url("m.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
